<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rusky</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
      <script src="http://js.arcgis.com/3.14/"></script>
      <link rel="stylesheet" href="http://js.arcgis.com/3.14/esri/css/esri.css">
      <link rel="stylesheet" href="main.css">
    <style>

      .voted{
        max-width: 500px;
        margin: auto;
        //text-align: center;
       // padding-left: 20px;
       // padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
        border-top: 1px #bdc3c7 dashed;
      }
      .voted header{

        font-size: 24px;
      }
      .voted img{
        width: 30px;
      }

      .text{
        padding-left: 20px;
        padding-right: 20px;
      }

      .bg-primary{
        margin-bottom: 0 !important;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 500px;
        min-width: 300px;
        margin: auto;
        background: none;
        position: absolute;
         top: 50%;
        left: 50%;
         transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
      }

    #map_container{
        z-index: -5;
    }

   #map_zoom_slider{
        z-index: -5 !important;
    }


    </style>
    <script>

    var mapDivOpen;
    $(document).ready(function(){
              //$('body').css("background", "F4B350");
                $( ".mapPage" ).hide();

          //$('.voted ' ).mouseup(function() {
            //$( this ).css( "background-color" ," #e67e22");
            //$( this ).css("color","white");
              //getLocation();
              //console.log("Yay");
            //});

            $('.voted ' ).mouseup(function() {
                mapDivOpen = $(this);
                mapDivOpen.find('.mapPage').attr('id', 'map');
                getLocation();
            });


          });

          $(document).ready(function() {
            if ($.cookie('HasVisted')) {

              $('.bg-primary').hide();
            $('body').css("background-color","white");
              //$('body').css("background-color","blue");
            } else {
              $('.voted').hide();
            }
          });

          function setCookie(){
            $.cookie('HasVisted', 'yes');
            location.reload();
          }

            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    //x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }

            function showPosition(position) {
                //alert(position.coords.latitude + "," + position.coords.longitude);
                  require(["esri/map", "dojo/domReady!"], function(Map) {
                    map = new Map("map", {
                      basemap: "topo",  //For full list of pre-defined basemaps, navigate to http://arcg.is/1JVo6Wd
                      center: [position.coords.longitude,position.coords.latitude], // longitude, latitude
                      zoom: 16
                    })
                    });

                    $(mapDivOpen).find('.mapPage').slideDown( "slow" );
                  }

    </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="logo">VendyMunch</div>
    <br/><br/>

    <div class="bg-primary" style="color: black;"> <h1 style="margin-bottom:10px; margin-top: 0; padding-top: 10px; font-size: 30px;"> A Quick How To :</h1> To request a vender to relocate near you, simply press on the vender in the list below. To cancel the request, press on the vendors name again. <br/> <br/> To view the current location of a vendor, slide the vendors name to the left. <br/><br/>
        <button type="button" class="btn btn-success btn-lg" style="float: right;" onclick="setCookie()">Got it!</button></div>
    </div>

    <div class="voted">
            <header style="padding-left: 10px; padding-right: 10px;"> Rusky's Cooking <span class="mapHolder" style="float:right; height: 56px; padding-left:10px;padding-right:10px;"><img src="map.png" style="margin-top: 10px;"/></span></header>
              <div class="Desc" style="padding-left: 10px; padding-right: 10px; margin-bottom: 10px;"> Quick food whereever you want. </div>
            <div class="mapPage" style=" z-index:-2; height: 250px;"></div>
    </div>

        <div class="voted">
            <header style="padding-left: 10px; padding-right: 10px;"> Rusky's Cooking <span class="mapHolder" style="float:right; height: 56px; padding-left:10px;padding-right:10px;"><img src="map.png" style="margin-top: 10px;"/></span></header>
              <div class="Desc" style="padding-left: 10px; padding-right: 10px; margin-bottom: 10px;"> Quick food whereever you want. </div>
            <div class="mapPage" style=" z-index:-2; height: 250px;"></div>
    </div>
        <div class="voted">
            <header style="padding-left: 10px; padding-right: 10px;"> Rusky's Cooking <span class="mapHolder" style="float:right; height: 56px; padding-left:10px;padding-right:10px;"><img src="map.png" style="margin-top: 10px;"/></span></header>
              <div class="Desc" style="padding-left: 10px; padding-right: 10px; margin-bottom: 10px;"> Quick food whereever you want. </div>
            <div class="mapPage" style=" z-index:-2; height: 250px;"></div>
    </div>
        <div class="voted">
            <header style="padding-left: 10px; padding-right: 10px;"> Rusky's Cooking <span class="mapHolder" style="float:right; height: 56px; padding-left:10px;padding-right:10px;"><img src="map.png" style="margin-top: 10px;"/></span></header>
              <div class="Desc" style="padding-left: 10px; padding-right: 10px; margin-bottom: 10px;"> Quick food whereever you want. </div>
            <div class="mapPage" style=" z-index:-2; height: 250px;"></div>
    </div>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
