<!DOCTYPE html>
<html>
<head>
<title>New Vendor</title>
<meta charset="UTF-8">
</head>
<body>
<script>
  function statusChangeCallback(response) {
    if (response.status === 'connected') {
      unlockAndSetForm();
    } else if (response.status === 'not_authorized') {
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
            document.getElementById('status').innerHTML = 'Please log ' +
              'into Facebook.';
          }
        }

        // This function is called when someone finishes with the Login
        // Button.  See the onlogin handler attached to it in the sample
        // code below.
        function checkLoginState() {
          FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
          });
        }

        window.fbAsyncInit = function() {
        FB.init({
          appId      : '974853599202506',
          cookie     : true,
          xfbml      : true,
          version    : 'v2.2'
        });

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

=  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function testAPI() {
    FB.api('/me', function(response) {
      $("#fb_id").value(response.id);
      $("#name, #cuisine, #secret").attr("disabled", "false");
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>
	<h1>Create New Truck</h1>
  <form action="/trucks/new" method="post">
    Name: <br />
    <input id="name" name="name" type="text" disabled="true">
    <br />
    Cuisine: <br />
    <input id="cuisine" name="cuisine" type="text" disabled="true">
    <br />
    Secret: <br />
    <input id="secret" name="secret" type="text" disabled="true">
    <br />
    <input id="fb_id" name="fb_id" type="hidden">
    <input id="submit" type="submit" value="submit" disabled="true">
  </form>
</body>
</html>
