<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Vendy Munch - Vendor View</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://js.arcgis.com/3.14/esri/css/esri.css">
<link rel="stylesheet" href="/main.css">
 <script src="http://js.arcgis.com/3.14/"></script>

<script>
  function statusChangeCallback(response) {
    if (response.status === 'connected') {
      unlockAndSetForm();
    } else if (response.status === 'not_authorized') {
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
            document.getElementById('status').innerHTML = 'Please log ' +
              'into Facebook.';
          }
        }

        // This function is called when someone finishes with the Login
        // Button.  See the onlogin handler attached to it in the sample
        // code below.
        function checkLoginState() {
          FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
          });
        }

        window.fbAsyncInit = function() {
        FB.init({
          appId      : '974853599202506',
          cookie     : true,
          xfbml      : true,
          version    : 'v2.2'
        });

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function unlockAndSetForm() {
    FB.api('/me', function(response) {
      $.get("/centroid/" + response.id, function(rs){
        console.log(rs);
          var map, textSymbol, picSymbol;
require(["esri/map",
"esri/graphic",
"esri/symbols/PictureMarkerSymbol",
"esri/symbols/TextSymbol",
"esri/geometry/Point",
"esri/SpatialReference",
"esri/tasks/ProjectParameters",
"esri/tasks/GeometryService",
"dojo/on",
"dojo/domReady!"
], function (Map, Graphic, PictureMarkerSymbol, TextSymbol, Point, SpatialReference, ProjectParameters, GeometryService, on) {
    map = new Map("map", {
        basemap: "topo",
        center: [rs.longitude,rs.latitude], // longitude, latitude
        zoom: 16
    });
    picSymbol = new PictureMarkerSymbol('http://static.arcgis.com/images/Symbols/Shapes/BluePin1LargeB.png', 60, 60);
    map.on("load", function (evt) {
      //  for (var i = 0; i < rs.length; i++) {
            var geometryPoint = new Point(rs.longitude, rs.latitude, new SpatialReference(4326));
            map.graphics.add(new Graphic(geometryPoint, picSymbol));
        //}
    });
});
        });
    });
  }
</script>

</head>
<body>

<div class="logo">VendyMunch</div>
<br/><br/>
<div class="bg-success" style="padding-top:10px; padding-bottom: 10px;">
    <center><span id="status"></span></center>
</div>
<div class="centeredModule">
        <center><div><fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
    </fb:login-button></div></center>
        <br />
        <br />
        <div id="map" class="roundedCorners"
           data-dojo-type="dijit/layout/ContentPane"
           data-dojo-props="region:'center'">
    </div>
</div>
</body>
</html>
